*{
    margin: 0px;
    padding: 0px;
}

/* since most text is in white color  so we are adding a root tag html having text color white for entire website*/
html{
    color: white;
    font-family:  sans-serif;
    background-color: black;
}

.top-header , .body-section , .faq-container{
    border-bottom:5px solid #535251 ;
}

.top-header{
    
    background-image: url("../Images/Background.jpg");
    height: 80vh;
}

.container{
    
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.btn{
    background-color: #E50914;
    padding: 8px 15px;
    border: none;
    color: white;
    border-radius: 5px;
}

 .language-picker{
    background-color:rgba(0,0,0,0.7);
    color: white; 
    padding: 10px 30px;
    border: 1px solid #535251;
    border-radius: 5px;

}  

.language{
    left: 4px;
}


.dropdown-container{
    
    position: relative;
   

}

.language , .drop-down{
  position: absolute;
  top: 5px;
}

.drop-down{
    right: -2px;
    top: 6px;
}


.navbar{
   padding-top:20px ;
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    
}

.right-half{
   
    display: flex;
    gap: 40px;
    align-items: center;

}


/* header content style */

.content{
   
     margin:20vh auto; 
    width: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content h1 , .content p{
margin-top: 20px;
}

.content h1{
    font-size: 50px;
    font-weight: bold;
}

.content p{
    font-size: 24px;
    font-weight: 600;
}

.email-container{
    
   display: flex;
   gap: 20px;
   width: 70%;
   margin-top: 20px;
   

}

.email-container input{
    flex-grow: 1;
    background-color: rgba(0,0,0,0.7);
    border: 1px solid #535251;
   padding: 0 10px;
   border-radius: 5px;
}

.get-started-btn{
    display: flex;
    align-items: center;
    font-size: 24px;
}

.get-started-btn span{
     font-size: 20px;
}


/* body section */

.body-section{
    
    display: flex;
    align-items: center;
    padding: 0 100px;
}

.left-item h1 , .right-item h1{
   font-size: 50px;
   margin-bottom: 20px;
}

.left-item p , .right-item p{
    font-size: 20px;
   
 }

.right-item{
    position: relative;

}

.right-item video{
    position: absolute;
    left: 80px;
    top: 20%;
    z-index: -1;
}


.faq-container {
    padding: 40px 100px;
    display: flex; 
     flex-direction: column; 
     align-items: center;
     gap: 20px;
}


.faq-container h1{
    font-size:50px ;
    margin-bottom: 20px;
    
  
}

.faq{
    border-radius: 4px ;
    display: flex;
    justify-content: space-between;
    align-self: stretch;
    padding: 20px ;
    background-color: #202020;
}

.faq:hover{
    background-color: #453c3c;
}

.faq p , .faq span{
    font-size: px;
}

.faq-container p{
    font-size: 20px;
    margin-top: 20px 0;
}

/* footer style */



.footer-container{
    padding: 100px;
    color: #AFAFAF;
}


.footer-container , .footer-container a{
    
    color: #AFAFAF;
}


.links-container{
    
    display: flex;
    gap: 20px;
    justify-content:space-between;
    padding: 40px 0;
}

.links-item{
   
    display: flex;
    flex-direction: column;

    gap: 20px;
}

.links-item a{
    color: #AFAFAF;
}
